/* место для вашего кода */
/* Стили шапки сайта */
.header {
  padding: 92px 50px 92px 50px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.header__list-links {
  display: flex;
  gap: 0 32px;
}
.header__links-list-item {
  list-style: circle;
}
.header__links-list-item-no-bullit {
  list-style: none;
}
.header__link {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
.header__link-active {
  text-decoration: none;
}
.header__logo {
  display: block;
  width: 136px;
  align-self: center;
  justify-self: center;
}
.adress {
  display: flex;
  flex-direction: column;
  font-style: normal;
  max-width: 240px;
}
.header__adress {
  justify-self: end;
}
.adress__links {
  display: inline-block;
  max-width: 240px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}
/* Конец стилей для шапки */
.main {
  box-sizing: border-box;
}
/* Стили для Cover */
.cover {
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 162px 50px 50px 48px;
  z-index: 1;
}
.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.aligned-text {
  display: block;
  align-self: start;
}
.aligned-text-center {
  display: block;
  margin-right: 30px;

  justify-self: center;
}
.aligned-text-right {
  display: block;
  justify-self: end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__decription {
  display: flex;
  align-items: center;
  gap: 0 90px;
  margin-top: 119px;
  justify-content: end;
}
.cover__decription-text {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 16px;
}
.bet-button {
  background: transparent;
  color: #fff;
  padding: 12px 32px;
  border: 1px solid #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

/* Конец стилей для Cover */

/* Начало секции lots */
.lots {
  box-sizing: border-box;
  padding: 180px 50px 180px 50px;
}
.lots__heading {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.section-heading {
  margin-left: 40px;
  margin-bottom: 27px;
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}
.lots__card-list-item {
  flex: 1 1 430px;
  min-height: 450px;
  margin-bottom: 30px;
}
.card__link {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}
.card {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  width: 100%;
  height: 100%;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
.card__type-film {
  background-image: url(../images/card-lot-01.jpg);
}
.card__type-book {
  background-image: url(../images/card-lot-02.jpg);
}
.card__type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.card__text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}
.lots__look-more-link {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-left: 40px;
}
/* Конец секции lots, очень тяжко далось, хотя вроде визуально так всё просто (косяков, море, наверное) */
.about {
  padding: 0 50px 180px 50px;
}
.about__grid {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 27px;
}
.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 95px;
}
.about__logo-image {
  width: 148px;
}
.about__column {
  margin-top: 104px;
}
.about__title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.about__text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about__text {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  padding: 0 50px 90px 50px;
  box-sizing: border-box;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer__menu-list {
  list-style: none;
}
.footer__menu-list-item {
  text-align: center;
}
.footer__menu-link-active {
  text-decoration: none;
}
.footer__menu-link {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
.footer__social-list {
  display: flex;
  gap: 0 48px;
}
.footer__social-list-item {
  list-style: none;
}
.footer__social-link {
  text-align: center;
}
.footer__social-icon {
  max-width: 240px;
  height: 48px;
}
